<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299628419749-0oq9i7oh850bncbdcu7nc6l70chec45j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299628419749-0oq9i7oh850bncbdcu7nc6l70chec45j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>299628419749-7uv69h1v9a50cfkn90mceelkkakn3r5i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxZmSQ7epX8u7vgOruZVhjSffBOUlZpcM</string>
	<key>GCM_SENDER_ID</key>
	<string>299628419749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quickstart.authentication</string>
	<key>PROJECT_ID</key>
	<string>contribute-flutter-quickstart</string>
	<key>STORAGE_BUCKET</key>
	<string>contribute-flutter-quickstart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299628419749:ios:ec6f8eacbe8e9f39320b4c</string>
</dict>
</plist>